html {
  background-color: #f9f6f3;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 3em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  color: #e7e9f7;
  margin: 2em 0;
  padding: 1em;
  width: 25%;
  background: none;
  background-color: #5f4ace;
  border: 1px solid #7986CB;
  border-radius: 4px;
  font-family: 'IBM Plex Sans';
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
}

form button:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1.05);
  box-shadow: -1px 6px 12px -4px #171d5287;
}

form button:active {
  cursor: pointer;
  transform: translateY(-1px) scale(1.05);
  box-shadow: -1px 3px 8px -2px #171d5287;
}

form button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #92a3e4;
}

form button.disabled {
  color: #d2c8c5;
  background-color: white;
  border: 1px solid #EFEBE9;
}

form button.disabled:hover {
  cursor: not-allowed;
}

textarea {
  border-radius: 5px;
  border: 1px solid #EFEBE9;
  padding: 2em;
  font-family: 'IBM Plex Mono';
  font-size: 0.825em;
  max-width: 70vw;
  resize: none;
  transition: all 0.2s ease-in-out;
}

textarea:focus {
  border-color: #D7CCC8;
  box-shadow: 1px 7px 12px -6px #9e9693;
  outline: 0;
  
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results .explanation-modal {
  border-radius: 5px;
  border: 1px solid #D7CCC8;
  background-color: #FAFAFA;
  width: 480px;
  height: 125px;
  overflow-y: scroll;
  padding: 0.5em 1em;
  box-shadow: inset 0 -1px 8px -2px #210f0c14;
}

.results .explanation-modal h3 {
  background-image: linear-gradient(22deg, #FFF8E1, #FFE0B2);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #b3864d;
    padding: 0.625em 1em;
    margin: -0.5em -1em 1em;
    font-family: 'IBM Plex Sans';
    font-size: 1em;
    letter-spacing: 0.0825em;
    font-variant-caps: all-small-caps;
    box-shadow: inset 0 -1px 1px 0 #2d1a0f2e;
}

.results .explanation-modal h3.html {
  background-image: linear-gradient(22deg, #E0F2F1, #B2DFDB);
  color: #416561;
  box-shadow: inset 0 -1px 1px 0 #2433313b;
}

.explanation-modal p {
  font-family: 'IBM Plex Sans';
  font-size: 0.9em;
  color: #4e423f;
}

.results button.reset {
  color: #ad9c96;
  position: relative;
  bottom: 4.5em;
  margin-right: auto;
  margin-left: 1em;
  background: none;
  border: none;
  font-family: 'IBM Plex Sans';
  font-size: 1em;
  transition: all 0.2s ease-in-out;
}

.results button.reset::before {
  content: 'â† ';
}

.results button:hover {
  cursor: pointer;
  color: #4c4443;
}

.results button.reset:focus, .results button.reset:active {
  border: none;
  outline: 0;
}

.results .editors-cut {
  color: #3a3232;
  font-family: 'Source Serif Pro';
  max-width: 620px;
  padding: 1em 0 2em;
  margin: 2em 0 1em;
  border-top: 1px solid #e7e1dd;
  border-bottom: 1px solid #e7e1dd;
}

.results .editors-cut span {
  color: #584c3a;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.results .editors-cut abbr {
  text-decoration: none;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.025em;
}

.results .editors-cut time abbr{
  margin-left: 2px;
}

.results .editors-cut span.typography {
  background-color: #FFECB3;
  border-radius: 3px;
  border: 1px solid #e8d28f;
  padding: 0 2px;
}

.results .editors-cut span.html {
  color: #3a4858;
  background-color: #d3eeef7a;
  border-radius: 3px;
  border: 1px solid #a1b9bb4f;
  display: inline-block;
  position: relative;
  padding: 0 0.25em;
  text-align: center;
}

.results .editors-cut span:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 1px 8px -2px #3e373540;
}

.results .editors-cut span.html:hover {
  transform: scale(1.025);
}

section.code {
  display: flex;
  flex-direction: column;
}

section.code h4 {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.05em;
  color: #756560;
  margin: 2em 0 -1.5em 0.5em;
}

.code button {
  margin: -2em 0 10vh;
  padding: 0.75em 0;
  background-image: linear-gradient(48deg, #FAFAFA, #EEEEEE);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #e2d9d6;
  border-top: 1px solid #d7ccc866;
  letter-spacing: 0.05em;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-variant-caps: all-small-caps;
  font-size: 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.code button:hover {
  cursor: pointer;
  color: #2e4a3c;
  background-image: linear-gradient(-27deg, #6ca58b, #b9dc9e);
}

.code button:visited {
  outline: 0;
}

.code button:active, .code button:focus {
  outline: 0;
  box-shadow: inset 0 -1px 3px -1px black;
}

.code button.visited {
  box-shadow: none;
}

.code button.visited:hover {
  cursor: default;
  background-image: linear-gradient(48deg, #FAFAFA, #EEEEEE);
}


/* PRISM STUFF */
code[class*="language-"],
pre[class*="language-"] {
    color: #46443e;
    font-family: 'IBM Plex Mono', 'SF Mono', monospace;
    direction: ltr;
    max-width: 600px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.9em;
    line-height: 1.5em;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1em;
  margin: 2em 0;
  overflow: auto;
  border: 1px solid #EFEBE9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #FAFAFA;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px; padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988; font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #34a064;
}
.token.punctuation,
.token.operator {
    color: #8a93c5; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #37a1d2;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #f56f45;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}